# PostgreSQL Database Connection URL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/fund_startup?schema=public"

# App Deployment URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Authentication Secrets (JWT & Sessions)
AUTH_SECRET="your-super-secure-next-auth-secret-here-at-least-32-chars"
JWT_SECRET="your-secure-jwt-signing-secret"
